@import "../variables";
$left-margin: 15%;
$top-margin: 15%;
$displayIndex: 9;
.line {
  width: 3px;
  height: 100vh;
  position: absolute;
  background-color: $first-accent-color;
  top: 0;
  left: $left-margin;
  z-index: $displayIndex;
}
.lineName {
  z-index: $displayIndex;
  position: absolute;
  color: white;
  top: $top-margin;
  left: $left-margin + 1;
}
.linePoint {
  width: 15px;
  height: 15px;
  background-color: $first-accent-color;
  top: $top-margin + 1.1;
  left: -6px;
  border-radius: 50%;
  z-index: $displayIndex;
  position: absolute;
}
