$main-color: #0f0d18d9;
// $section-color: rgb(12, 12, 14);
$section-color: #000c2c;
$accent-text-color: #d181ff;
$first-accent-color: #58018a;
// $first-accent-color: #d181ff;
$second-accent-color: #3b3b3b;
