@import "../variables";
$font-color: #eaeaea;
$line-color: #f0f8ff80;
.timeLine {
  position: relative;
  left: -10vw;
  height: 80%;
  width: 1px;
  background-color: $line-color;
}
.timeLine-wrap {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.timeLine-title {
  position: absolute;
  top: -6%;
  color: $font-color;
  font-size: 1.4rem;
  font-weight: bold;
}
.timeLine-dateWrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: $font-color;
  &-date {
    position: absolute;
    width: fit-content;
    font-weight: bold;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  &-date.selectedDate {
    color: $accent-text-color;
  }
  &-content {
    position: absolute;
    min-width: 25vw;
    max-width: 30vw;
    width: fit-content;
    padding: 2vh;
    left: 5vw;
    background-color: rgba(240, 248, 255, 0.05);
    border-radius: 15px;
    border: 1px solid $line-color;
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    &-months {
      color: $line-color;
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
    &-company {
      color: $accent-text-color;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 1.1;
    }
    &-position {
      color: $font-color;
      font-size: 1rem;
      line-height: 1;
    }
    &-desc {
      margin-top: 5%;
    }
  }
}

.timeLine-dateWrap-content.fadeIn {
  animation-name: fadeIn;
}

.timeLine-dateWrap-content.fadeOut {
  animation-name: fadeOut;
}
.timeLine-dateWrap-content.fadeIn.moreContent {
  z-index: 10;
  transition-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .timeLine {
    height: 60%;
    left: -25vw;
  }
  .timeLine-title {
    top: -8%;
    left: -10vw;
  }
  .timeLine-dateWrap {
    &-date {
      padding-top: 2vw;
      padding-bottom: 2vw;
    }
    &-date.selectedDate {
      color: $accent-text-color;
    }
    &-content {
      min-width: 60vw;
      max-width: 65vw;
      padding: 2vh;
      left: 8vw;
    }
  }

  .timeLine-dateWrap {
    &-content {
      &-months {
        color: $line-color;
        font-size: 0.7rem;
        line-height: 0.7rem;
      }
      &-company {
        color: $accent-text-color;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.1;
      }
      &-position {
        color: $font-color;
        font-size: 0.9rem;
        line-height: 1;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .timeLine-title {
    display: none;
  }
}
