@import "../variables";

.skills-wrap {
  scroll-snap-align: start;
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(16, 15, 15);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.skills-line-wrap {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  color: $font-color;
  &:hover {
    background-color: $second-accent-color;
  }
  &-content {
    flex-basis: 80%;
  }
}
