@import "../variables";
$nav-line-height: 2rem;
$selected-color: #ffffff;
$tag-Name: #ffffff;
$tag-Name-small: #a1a1a1;
#nav {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  box-shadow: inset 0 35px 14px $main-color;
  position: fixed;
  top: 0;
  z-index: 99;
}
@mixin tagImitator {
  color: $first-accent-color;
  line-height: $nav-line-height;
  padding: 1%;
}
.tagImitator {
  @include tagImitator();
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-left: 5%;

  &-small {
    font-size: 1.8rem;
    color: $second-accent-color !important;
    @include tagImitator();
  }
}
.tagName {
  color: $tag-Name;
  font-weight: bolder;
  font-size: 1.6rem;
  line-height: $nav-line-height;
  &-small {
    color: $tag-Name-small;
    font-weight: 800;
  }
}
a .selected {
  color: $selected-color;
  transition-duration: 1s;
}

.nav-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 80%;
}
.nav-wrap {
  li {
    margin: 1%;
  }
}
