@import "../variables";
.experience {
  scroll-snap-align: start;
  min-height: 100vh;
  height: 130vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: $section-color;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
}

@media only screen and (max-width: 1200px) {
  .experience {
    height: 140vh;
  }
}
@media only screen and (max-width: 812px) {
  .experience {
    height: 165vh;
  }
}
